* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(179, 15, 15, 0.877),
        rgba(42, 17, 151, 0.582)
    );
}

h1,
input {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: lighter;
    color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(243, 244, 247);
    color: white;
}
input:focus {
    border-color: rgb(2, 2, 2);
}

#results {
    width: 150px;
    text-align: center;
    cursor: pointer;
}

p {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.highlight {
    background-color: #0772ac;
    border-radius: 10px;
}
