* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(179, 15, 15, 0.877),
        rgba(42, 17, 151, 0.582)
    );
}

h2,
textarea {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: lighter;
    color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

textarea {
    background: black;
    border: 3px solid rgb(243, 244, 247);
    color: white;
}

textarea:focus {
    border-color: rgb(2, 2, 2);
}
