{{!-- Welcome Template --}}
<div id="wrapper">
{{#projects}}
  <a href="/{{directory}}" target="_blank">
    <div class="projects-container">
      <img src="/{{directory}}/screenshot.jpg" alt="screenshot"/>
      <p class="title">{{title}}</p>  
    </div>
  </a>
{{/projects}}
</div>