/* General style */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: rgba(14, 12, 12, 0.979);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style by tag name */
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

a {
    margin-bottom: 25px;
    text-decoration: none;
}

footer {
    background-color: rgba(128, 128, 128, 0.308);
}

/* Style by id */
#general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px calc((100% - (255px * 3)) / 2);
}

/* Style by class */
.project-container {
    height: 100px;
    flex: 0 0 215px;
    margin: 1em 20px;
}
.title {
    text-align: center;
}
