/* initialize the browser settings */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgb(182, 179, 179);
}

/* style the header elements */

nav {
    position: relative;
    padding: 10px 20px;
    background-color: white;
}

nav img {
    width: 150px;
    height: 50px;
}

img[alt="menu"] {
    position: absolute;
    right: 0px;
}

/* style the main elements */
/* section 1 */
.spices {
    position: relative;
}
.spices > img {
    width: 100%;
}

.spices h1 {
    position: absolute;
    bottom: 57%;
    left: 21%;
    font-size: 40px;
    color: white;
    font-style: italic;
}

button[type="submit"] {
    background-color: rgb(253, 215, 43);
    color: rgb(201, 135, 13);
    width: 20%;
    font-size: 25px;
    padding: 10px;
    border: 5px rgb(201, 135, 13) solid;
    border-radius: 50px;
    position: absolute;
    top: 45%;
    right: 45%;
}

img[alt="spices"]:hover {
    filter: brightness(50%);
}

/* section 2 */
.advantages img {
    width: 40px;
    margin-right: 5px;
}
ul {
    position: relative;
}
li:nth-child(2) {
    position: absolute;
    right: 100px;
    top: 0;
}
li:last-child {
    position: absolute;
    top: 50%;
    right: 100px;
}
.left {
    margin-left: 3%;
}
li {
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#overlay {
    background: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    transition-duration: 2s;
}

#side-nav-menu {
    background-color: white;
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;
    position: fixed;
    transition-duration: 2s;
}
.hide {
    visibility: hidden;
}
.move-in {
    transition-property: transform;
    transition-duration: 2s;
    transform: translateX(100);
}

#side-nav-menu a {
    display: block;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#log-out {
    font-size: 15px;
    font-weight: normal;
}

span {
    position: absolute;
    right: 0;
}

/* style footer */
footer {
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

/* apply some styles for the break-points btw 480px --- 720px */
@media screen and (min-width: 480px) and (max-width: 720px) {
    .spices h1 {
        bottom: 45%;
        left: 15%;
        font-size: 25px;
    }
    button[type="submit"] {
        top: 55%;
        font-size: 10px;
    }
    li:nth-child(2),
    li:last-child {
        position: static;
    }
    ul {
        text-align: center;
    }
    #side-nav-menu a {
        margin: 10px;
        padding: 5px;
        font-size: 10px;
        font-weight: bold;
    }
    span {
        margin-right: 10px;
        font-size: 10px;
    }
}

/* apply some styles for the break-points 320px --- 480px */
@media screen and (min-width: 320px) and (max-width: 480px) {
    nav img {
        width: 60px;
        height: 30px;
    }
    .spices h1 {
        left: 20%;
        font-size: 15px;
    }
    button[type="submit"] {
        font-size: 5px;
    }
    ul {
        text-align: center;
    }
    li:nth-child(2),
    li:last-child {
        position: static;
    }
    li {
        font-size: 10px;
    }
    .advantages img {
        width: 25px;
    }
    #side-nav-menu a {
        margin: 5px;
        padding: 2.5px;
        font-size: 10px;
        font-weight: bold;
    }
    span {
        margin-right: 5px;
        font-size: 10px;
    }
}

/* apply some styles when the user's favorite schema DARK */
@media (prefers-color-scheme: dark) {
    body,
    nav {
        background-color: rgb(37, 37, 37);
        color: antiquewhite;
    }
    footer {
        background-color: rgb(65, 63, 63);
    }
    button[type="submit"] {
        background-color: rgb(37, 37, 37);
    }
    img[alt="spices"] {
        filter: brightness(50%);
    }
}

.modal {
    background-color: white;
    width: 60vh;
    height: 30vh;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 32%;
    visibility: hidden;
}
.modal span {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

.visible {
    visibility: visible;
    z-index: 1;
}

.transparent {
    filter: brightness(50%);
}
